@import "coloresytipos";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.tabla-servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    table {
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
        padding: 5px;
        tr {
            th {
                background-color: $primaryColor;
                font-family: $tipografiaTitulos; 
                margin: 5px;
            }    
        }
    }
}
